.search__form {
  width: 608px;
  height: 64px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  background-color: #fff;
  z-index: 1;
}

.search__input {
  width: 100%;
  height: 64px;
  border-radius: 40px;
}

.search__button {
  width: 168px;
  height: 100%;
}
